* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --teal-300: #5EEAD4;
    --teal-500: #14B8A6;
    --teal-700: #0F766E;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}

.App{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: blanchedalmond;
}
