* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --teal-300: #5EEAD4;
    --teal-500: #14B8A6;
    --teal-700: #0F766E;
    --gray-700: #4f545c;
    --gray-900: #202225;
    --red-500: #EF4444;
    --sky-400: #38BDF8;
    --sky-600: #0284C7;
    scrollbar-width: none;
  -ms-overflow-style: none;
}
body {
    font-family: 'Abel', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--gray-700);
}

a, a:visited {
    text-decoration: none;
}
