.profile {
  margin: 1rem;
  margin-right: 3.5rem;
}

.profileCards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.profileRow1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}

.profileInfo {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
}

.profileInfoTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
.profileImage {
  margin-right: 1rem;
}

.profileImage,
.profileImage i {
  background-size: cover;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  box-shadow: 0.1rem 0.1rem 0 0 rgba(0, 0, 0, 0.1);
  background-color: var(--gray-900);
}
.profileImage i {
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileName {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  display: flex;
  text-align: left;
}

.profileBio {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pen-profile {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.25rem;
  color: var(--gray-900);
  cursor: pointer;
}

.pen-profile:hover {
  color: var(--gray-700);
  scale: 1.1;
}

.profileEdit {
  position: absolute;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 25rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 0 0 rgba(0, 0, 0, 0.2);
  overflow: auto;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.profileEdit .fa-x{
    padding: 0;
}

.profileEditRow1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profileImageEdit label{
  cursor: pointer;
}

.profileImageEdit i,
.profileImageEdit img {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  margin: 0;
}


.profileImageEdit:hover {
  scale:1.1;
}

.profileInfoTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
}

.profileInfoTableElement{
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.input-item{
  position: relative;
}

.input-item label{
  position: absolute;
  top: -1rem;
  left: 1rem;
  transition: 0.3s;
  opacity: 0;
}
.input-item:focus-within > label{
  top: -1.25rem;
  left: 0.5rem;
  font-size: 0.9rem;
  color: var(--gray-900);
  opacity: 1;
}





